@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";
}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

/* ====回到最上面按鈕==== */
button.go_top{
    border:2px solid white;
    width: 40px;
    height: 40px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #FFA6A6;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    order: 1;
}
button.go_top:hover{
    background-color: #e05648;
    font-weight: bold;
}

div.aboutarea{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    
}
@media (max-width: 767px){
    div.aboutarea{
        width: 100%;
    }
}

h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    /* text-decoration: underline #FFA6A6;  */
    font-weight: blod;
    margin-bottom: 15px;
}
/* ===三角形符號(左)=== */
h2.pagetitle > span{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid #e05648;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    margin-right: 5px;
    transform: translateX(10px);
}


div.aboutcontent{
    width: 100%;
    /* border: 1px solid blue; */
    padding:30px 0px 20px 0px;
    background-color: white;
    
}

div.content_row{
    /* border: 1px solid peru; */
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
@media (max-width: 1090px){
    div.content_row{
        flex-direction: column;
        padding-bottom: 0;
        
    }
}


div.contentspace-w{
    /* border: 1px solid green; */
    width: 52%;
}
@media (max-width: 1090px){
    div.contentspace-w{
        width: 100%;
        order: 1;
    }
}

div.contentspace-w p{
    font-size: 1rem;
    
    line-height: 1.9;
    margin: 0;
    height: 100%;
    padding: 1rem 1.5rem;
}
@media (max-width: 1090px){
    div.contentspace-w p{
        text-align: center;
    }
}


div.contentspace-i{
    /* border: 1px solid green; */
    width: 48%;
}
@media (max-width: 1090px){
    div.contentspace-i{
        width: 100%;
        margin-bottom: 5px;
        order: 2;
    }
}

div.contentspace-i > img{
    width: 100%;
    /* border-radius: 20%; */
    align-items: center;
    /* margin-left: 10px; */
      

}
