@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";

}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

/* ====回到最上面按鈕==== */
button.go_top{
    border:2px solid white;
    width: 45px;
    height: 45px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #FFA6A6;
    border-radius: 10px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    font-size: 0.75rem;
    order: 1;
    vertical-align: center;
}

button.go_top:hover{
    background-color: #e05648;
    font-weight: bold;
}

div.coffeelistarea{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 0px;
}
@media (max-width: 767px){
    div.coffeelistarea{
        width: 100%;
        padding-bottom: 0px;
    }
}
    
h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    /* text-decoration: underline #FFA6A6;  */
    font-weight: blod;
    margin-bottom: 15px;
}

/* ===三角形符號(左)=== */
h2.pagetitle > span{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid #e05648;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    margin-right: 5px;
    transform: translateX(10px);
}


div.coffee_all{
    /* border: 1px solid blue; */
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding-top: 30px;
    display: flex;
    margin-bottom: 70px;
}
@media (max-width: 767px){
    div.coffee_all{
        width: 100%;
        margin-bottom: 50px;
    }
}

div.left{
    border-top: 2px solid #e05648;
    width: 20%;
    background-color: white;
    padding-bottom: 30px;
    margin-left: 10px;
}
@media (max-width: 767px){
    div.left{
        margin-left: 0px;
        width: 27%
    }
}

div.btn_block{
    /* border-bottom: 2px solid #e05648; */
}

div.allitem, div.allitem >a, button.item{
    border: 0;
    background-color: white;
    font-size: 1rem;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: black;
    text-decoration: none;
}
@media (max-width: 767px){
    div.allitem, div.allitem >a, button.item{
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}

div.allitem >a, button.item:hover{
    font-weight: bold;
}

button.item.active{
    background-color:  #e05648;
    color: white;
    font-weight: bold;

}

i.fa-caret-down {
    float: right;
  }

div.allitem{
    padding: 5px 0px;
    border-bottom: 2px solid #e05648;
}

div.left ul.list{
    display: none;
}

ul.list > li.itemlist{
    /* border: 1px solid purple; */
    margin: 0 auto;
    width: 80%;
    padding-left: 10px;
}


ul.list li.itemlist > a{
    font-size: 0.8rem;
    margin: 0px;
    line-height: 1.6;
    color: black;
}
@media (max-width: 767px){
    ul.list li.itemlist > a{
        font-size: 0.6rem;
    }
}

ul.list li.itemlist > a:hover{
    color: #e05648;
    font-weight: bold;
    text-decoration: underline #E05648;
}

ul.list li.itemlist > a:visited{
    color: black;
}

/* ===右側商品列表=== */
div.main{
    /* border: 1px solid orange; */
    width: 75%;
    padding-left: 10px;
    margin-left: 20px;
}
@media (max-width: 767px){
    div.main{
        padding-left: 0px;
        margin-left: 10px;
        width: 70%;
    }
}

/* ===麵包屑=== */
div.breadcrumb{
    width: 100%;
    /* border: 1px solid rgb(39, 185, 230); */
    margin: 5px 0px;
}

div.breadcrumb ol.breadcrumb_list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

div.breadcrumb ol.breadcrumb_list > li{
    display: inline-block;
    color: gray;
    font-size: 12px;
}
  
div.breadcrumb ol.breadcrumb_list > li::before{
    content: "/";
    font-size: 12px;
    color: #C6CDBD;
    margin: 0 10px;
}

div.breadcrumb ol.breadcrumb_list > li:first-child::before{
    display: none;
}
  
div.breadcrumb ol.breadcrumb_list > li > a{
    /* border: 1px solid blue; */
    text-decoration: underline #C6CDBD;
    display: inline-block;
    color: black;
}
  
  /* 滑動移過後改變文字顏色 */
div.breadcrumb ol.breadcrumb_list > li > a:hover{
    color: #E05648;
    text-decoration: underline #E05648;
}


/* ===產品列表=== */
div.productlist{
    width: 100%;
    /* border: 1px solid rgb(228, 53, 135); */
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px 10px 0px;
    margin-bottom: 20px
}

div.product{
    /* border: 1px solid palevioletred; */
    width: calc(( 100% - 30px ) / 4);
    font-size: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
@media (max-width: 767px){
    div.product{
        width: calc(( 100% - 10px ) / 2);
    }
}

div.product:nth-child(4n){
    margin-right: 0px;
}
@media (max-width: 767px){
    div.product:nth-child(2n){
        margin-right: 0px;
    }
}


div.product > a{
    color: black;
    text-decoration: none;
}

div.product:hover{
    background:#ecccb3 ;
}



div.product_img{
    /* border: 1px solid yellow; */
    /* height: 135px; */

}

div.product_img > img{
    width: 100%;
}

div.product_name{
    /* border: 1px solid blue; */
    width: 100%;
}

div.product_name > p{
    padding-top: 3px;
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

div.product_price{
    /* border: 1px solid green; */
    width: 100%;
    font-size: 12px;
    
}

div.product_price > p{
    padding-top: 3px;
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
    text-align: center;
}

div.paginationarea{
    width: 100%;
}

div.pagination_block{
    margin: 0 auto;
}

div.pagination_block > ul.pagination{
    list-style: none;
    font-size: 0;
    width: 120px;
    margin: 0 auto;
}
  
div.pagination_block > ul.pagination > li{
    display: inline-block;
}
  
div.pagination_block > ul.pagination > li > a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    font-size: 12px;
    color: black;
    text-decoration:none ;
}
  
div.pagination_block > ul.pagination > li > a.-on{
    color: #E05648;
    text-decoration: underline #E05648;
}
  
div.pagination_block > ul.pagination > li > a:hover{
    color: #E05648;
}