@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";

}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

div.contactarea{
    border: 1px solid red;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 0px;
}

h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    text-decoration: underline #FFA6A6; 
    font-weight: normal;
}

div.mapinfospace{
    border: 1px solid black;
    width: 800px;
    height: 280px;
    margin: 0 auto;
    font-size: 0px;
    padding-bottom: 30px;
}

div.map , div.info{
    display: inline-block;
    vertical-align: top;
}

div.map{
    border: 1px solid blue;
    width: 500px;
    
}

div.map iframe{
    width: 500px;
    height: 250px;
    border: 1px solid #FCE7DD;
    border-radius: 5px;
}

div.info{
    border: 1px solid green;
    width: calc( 100% - 500px - 45px);
    height: 250px;
    margin-left: 45px;
    font-size: 0px;
    border-radius: 5px;
    background-color: white;
}

div.info > p{
    font-size: 16px;
    color: black;
    text-align: center;
}

div.info div.btn{
    margin: 0 auto;
    width: 100px;
    padding-top: 20px;
}

button.bookingbtn{
    border: 0;
    background-color: #FFA6A6;
    color: red;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 12px;
    transition: all .1s linear;
}

button.bookingbtn:hover{
    cursor: pointer;
    background-color: #E05648;
    color: #FFF;
}

button.bookingbtn:visited{
    border: 0;
    background-color: #FFA6A6;
    color: #FFF;

div.leaveamessage{
    background-color: white;
    border: 1px solid purple;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
}

form.message label{
    margin-left: 20px;
    padding-bottom: 20px;
}