@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";

}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

div.contactarea{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 0px;
}
@media (max-width: 767px){
    div.contactarea{
        width: 100%;
    }
}

h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    text-decoration: underline #FFA6A6; 
    font-weight: normal;
}

div.main{
    width: 100%;
    /* border: 1px solid brown; */
    padding: 30px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.mapinfospace{
    /* border: 1px solid orange; */
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 0px;
    padding-bottom: 30px;
    margin: 0 auto;
}
@media (max-width: 767px){
    div.mapinfospace{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

div.map{
    /* border: 1px solid blue; */
    width: 65%;
    height: 100%;
    overflow: hidden;
    padding-top: 15px;
}
@media (max-width: 965px) and (min-width: 768px){
    div.map{
        width: 60%;
    }
}
@media (max-width: 767px){
    div.map{
        width: 90%;
        padding-top: 0px;
        margin: 0 auto;
    }
}

div.map iframe{
    width: 100%;
    height: 300px;
    border: 0;
}

div.info{
    /* border: 1px solid green; */
    width: 35%;
    height: 315px;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 0px;
    background-image: url(../img/contact/message_memo_.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center top;
}
@media (max-width: 965px) and (min-width: 768px){
    div.info{
        width: 40%;
        margin-left: 10px;
    }
}
@media (max-width: 767px){
    div.info{
        width: 100%;
        background-size: 90%;
        margin-left: 0px;
        margin-top: 10px;
        padding-top: 45px;
    }
}

div.info > p{
    font-size: 0.8rem;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-top: 8px;
    margin-bottom: 0;
    margin: 0px;
    text-align: center;
}

div.info > p:first-child{
    margin-top: 13px;
    margin-bottom: 5px;
}

div.info p > span.import{
    font-size: 16px;
    color: #E05648;
    font-weight: bold;
}

div.info p > span.note{
    font-size: 6px;
    color: #E05648;
    font-weight: bold;
}




div.info div.btn{
    margin: 0 auto;
    width: 100px;
    padding-top: 20px;
}

button.bookingbtn{
    border: 0;
    background-color: #FFA6A6;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    transition: all .1s linear;
    width: 100px;
    height: 25px;
    padding: 0;
}

button.bookingbtn:hover{
    cursor: pointer;
    background-color: #E05648;
    color: #FFF;
}

button.bookingbtn > a{
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
}

button.bookingbtn > a:hover{
    cursor: pointer;
    /* background-color: #E05648; */
    color: #FFF;
    font-weight: bold;
}

button.bookingbtn > a:visited{
    border: 0;
    background-color: #FFA6A6;
    color: #FFF;
}


/* ===留言區=== */
div.leaveamessage{
    background-color: white;
    border: 2px solid #FFA6A6;
    width: 90%;
    padding: 20px;
    font-size: 16px;
    margin: 0 auto;
}

h3{
    margin-left: 50px;
    padding-bottom: 5px;
    font-size: 18px
    
}

form.message label{
    margin-left: 20px;
    padding: 10px 0px 20px 30px;
    vertical-align: top;
}

textarea {
    margin-left: 50px;
    width: 80%;
}

div.btn_block{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
}

button.clean{
    border: 0;
    background-color: #C6CDBD;
    color: white;
    padding: 5px 0px;
    border-radius: .25rem;
    font-size: 12px;
    transition: all .1s linear;
    width: 100px;
    
}

button.clean a{
    color: white;
    padding: 5px 25px;
    border-radius: .25rem;
    font-size: 12px;
}

button.clean a:hover{
    color: white;
}

button.clean:hover{
    cursor: pointer;
    background-color: #C6CDBD;
    color: white;
    font-weight: bold;
}

button.clean a:visited{
    border: 0;
    background-color: #C6CDBD;
    color: #FFF;
}


button.submit{
    border: 0;
    background-color: #E05648;
    color: white;
    padding: 5px 0px;
    border-radius: .25rem;
    font-size: 12px;
    transition: all .1s linear;
    width: 100px;
    margin-left: 5px;
}

button.submit a{
    color: white;
    padding: 5px 25px;
    border-radius: .25rem;
    font-size: 12px;
}

button.submit a:hover{
    color: white;
}

button.submit:hover{
    cursor: pointer;
    background-color: #E05648;
    color: white;
    font-weight: bold;
    
}

button.submit a:visited{
    border: 0;
    background-color: #C6CDBD;
    color: #FFF;
}