@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";
}

a{
    text-decoration: none;
}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}


img{
    max-width: 100%;
}

/* =====首頁底圖===== */
div.main{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    background-image: url(../img/index/background.jpg);
    
}
@media (max-width: 767px){
    div.main{
        background:none;
        width: 100%;    
    }
}

div.main-1{
    /* border: 1px solid blue; */
    background:rgba(255, 255, 255, 0.7);
    padding: 5px 0px 15px 0px;
    
}
@media (max-width: 767px){
    div.main-1{
        background-color: white;
        width: 100%;
        padding: 0px 5px;
    }
}


/* =====MENU區===== */

div.menuarea{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    gap: 20px;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 15px;
}
@media (max-width: 767px) and (min-width: 721px){
    div.menuarea{
        width: 700px;
    }
}
@media (max-width: 720px){
    div.menuarea{
        width: 100%;
        display: flex;
    }
    
}

div.menuitem{
    /* border: 1px solid blue; */
    width: 160px;
    padding-top: 10px;
}

div.menuitem:nth-child(2), div.menuitem:nth-child(4){
    padding-top:30px;
}
@media (max-width: 767px){
    div.menuitem:nth-child(2), div.menuitem:nth-child(4){
        padding-top: 10px;
    }
}

div.menuitem_img img{
    width: 158px;
    margin: 0 auto;
    font-size: 0;
}
@media (max-width: 767px){
    div.menuitem_img img{
        width: 100%;
    }
}


p.menuitem_name{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    text-decoration: underline #FFA6A6; 
}

/* =====最新消息+關於好時光區===== */

div.newsarea{
    width: 700px;
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 0;
    display: flex;
}
@media (max-width: 767px){
    div.newsarea{
        width: 100%;
        /* display: block; */
        flex-direction: column;
    }
}

div.newsarea_left , div.newsarea_right{
    /* height: 250px; */
    /* border: 1px solid green; */
    vertical-align: bottom;
}

div.newsarea_left{
    width: 350px;
}
@media (max-width: 767px){
    div.newsarea_left{
        width: 100%;
        margin: 0 auto;
        overflow:hidden;
    } 
}

div.newsarea_left img{
    width: 100%;
}


div.newsarea_right{
    width: 350px;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: white;
    
}
@media (max-width: 767px){
    div.newsarea_right{
        width: 100%;
        padding-bottom: 20px;
        height: fit-content;
    }
}

div.newsarea_right > p.newstitle{
    font-size: 16px;
    text-align: center;
    margin: 20px 0px;
    text-decoration: underline #FFA6A6; 
}

div.newsarea_right > p.newslist{
    font-size: 12px;
    border-bottom: 1px solid #c6cdbd;
    width: 270px;
    margin: 10px 2px 5px 20px;
}

p.newslist > a{
    font-size: 12px;
    margin-left: 5px;
    color: black
}

p.newslist > a:hover{
    color: #E05648;
    font-weight: bold;

}

p.newslist > span{
    font-weight: bold;

}

div.aboutarea{
    width: 700px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    font-size: 0;
    display: flex;
}
@media (max-width: 767px){
    div.aboutarea{
        width: 100%;
        flex-direction: column;
        
    }
}

div.aboutarea_left , div.aboutarea_right{
    /* height: 250px; */
    /* border: 1px solid green; */
    vertical-align: bottom;
}

div.aboutarea_left{
    width: 350px;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: white;
}
@media (max-width: 767px){
    div.aboutarea_left{
        width: 100%;
        order: 2;
    }
}

p.abouttitle{
    font-size: 16px;
    text-align: center;
    margin: 0;
    text-decoration: underline #FFA6A6; 
}

p.aboutcontent{
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    line-height: 1.9;
}

div.aboutarea_right{
    width: 350px;
}
@media (max-width: 767px){
    div.aboutarea_right{
        width: 100%;
        order: 1;
        overflow:hidden;
    }
}

div.aboutarea_right img{
    width: 100%;  
}

/* =====立即定位區===== */

div.bookingarea{
    width: 70%;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 0;
    height: fit-content;
    position: relative;
    z-index: 1;
}
@media (max-width: 767px){
    div.bookingarea{
        width: 100%;
        padding: 5px 0px;
        background-color: white;
    }
}

div.bookingarea img{
    width: 100%;
}

a.bookingbtn{
    text-decoration: none;
    color: #E05648;
    padding: 6px 20px;
    border-radius: .25rem;
    font-size: 16px;
}

button.bookingbtn{
    border: 1px solid #E05648;
    background-color: #FFF;
    height: 35px;
    border-radius: .25rem;
    font-size: 16px;
    transition: all .1s linear;
    position: absolute;
    right: 30px;
    bottom: 50px;
}

a.bookingbtn:hover{
    color: #FFF;
    font-weight: bold;
}

button.bookingbtn:hover{
    background-color: #E05648;
    cursor: pointer;
}

/* =====聯絡我們區===== */

div.contactarea{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}
@media (max-width: 767px){
    div.contactarea{
        width: 100%;
        background-color: white;
        margin-bottom: 50px;
        padding-bottom: 0px;
    }
}

h3.title{
    font-size: 1.5rem;
    margin: 0;
    text-decoration: underline #FFA6A6; 
    padding-bottom: 10px;
    font-weight: normal;
}
@media (max-width: 767px){
    h3.title{
        font-size: 1.2rem;
        padding-left: 1rem;
    }
}


div.map iframe{
    width: 100%;
    height: 300px;
    border: 0;
}

