@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";

}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

/* ====回到最上面按鈕==== */
button.go_top{
    border:none;
    width: 40px;
    height: 40px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #FFA6A6;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}
button.go_top:hover{
    background-color: #e05648;
    font-weight: bold;
}


/* ===MENU區=== */
div.menuarea{
    border: 1px solid red;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 0px;
}

div.pagetitle{
    border: 1px solid orange;
    font-size: 0;
    width: 50%;
}

h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    text-decoration: underline #FFA6A6; 
    font-weight: normal;
}

div.pagetitle , div.menuoption{
    display: inline-block;
    vertical-align: bottom;
}

div.menuoption{
    border: 1px solid green;
    font-size: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;

}

div.option_item{
    border: 1px solid salmon;
    /* border-bottom: 2px solid #C6CDBD; */
    display: inline-block;
    font-size: 0;
    background-color: white;
}

div.option_item > a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

div.option_item > a:hover{
    font-weight: bold;
}

div.option_item > a :visited{
    color: black;
}

div.menucontent{
    width: 100%;
    border: 1px solid yellow;
}

p.listtitle{
    font-size: 18px;
    text-decoration: underline #C6CDBD;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bold;
}

div.coffee{
    border: 1px solid blue;

    background-color: white;
    padding: 10px 10px 20px 10px;
}


div.pancake{
    border: 2px solid white;
    padding: 10px 10px 20px 10px;
}

div.wine{
    border: 1px solid blue;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px 10px 30px 10px;
}

div.listarea{
    margin: 0 auto;
    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    gap: 15px;
    border: 1px solid tomato;
}

div.mlist{
    border: 1px solid purple;
    width: max-content;
    border-radius: 5px;
}

div.mlist:hover{
    background-color: #ecccb3;
    font-weight: bold;
}

div.mlist > img.menuimg{
    width: 200px;
    height: 150px;

}

div.mlist > p{
    font-size: 14px;
    margin: 0;
    text-align: center;

}

