@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";
}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

/* ====回到最上面按鈕==== */
button.go_top{
    border:none;
    width: 40px;
    height: 40px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #FFA6A6;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    order: 1;
}
button.go_top:hover{
    background-color: #e05648;
    font-weight: bold;
}

div.newscontentarea{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: white;
    position: relative;
}
@media (max-width: 767px){
    div.newscontentarea{
        width: 100%;    
    }
}


/* ===最新消息Tittle=== */
h3.title{
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;
    text-decoration: underline #e05648; 
    font-weight: normal; 
}


/* ===最新消息內文=== */
div.contentspace{
    /* border: 1px solid purple; */
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
}

div.contentspace > p.newsdate{
    font-size: 12px;
    margin: 0;
    padding:5px 0px 0px 5px;


}

div.contentspace > p.content{
    font-size: 0.875rem;
    line-height: 1.6;
    padding: 0 5px;

}

p > a{
    color: #e05648;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

/* ===最新消息內文附圖=== */
div.picture{
    width: 90%;
    /* border: 1px solid blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.picturespace{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

div.img_block{
    /* border: 1px solid red; */
}

div.img_block:first-child{
    margin-right: 10px;
}

div.img_block img{
    width: 100%;
}



button.backtolastpage{
    border: 0;
    background-color: #C6CDBD;
    padding: 5px 0px;
    border-radius: .25rem;
    font-size: 0.8rem;
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 5%;
}

button.backtolastpage a{
    color: white;
    padding: 5px 5px;
    border-radius: .25rem;
    font-size: 12px;
}

button.backtolastpage:hover{
    /* cursor: pointer; */
    background-color: #C6CDBD;
    color: #FFF;
    font-weight: bold;
}

button.backtolastpage a:visited{
    border: 0;
    background-color: #C6CDBD;
    color: #FFF;
}