@import url(./header.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    box-sizing: border-box;
    font-family: "微軟正黑體","Prestige Elite Std Bold";

}

body.body_area{
    background-color: #FCE7DD;
    font-size: 0;
    margin: 0;
}

/* ====回到最上面按鈕==== */
button.go_top{
    border:none;
    width: 40px;
    height: 40px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #FFA6A6;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    order: 1;
}
button.go_top:hover{
    background-color: #e05648;
    font-weight: bold;
}

div.newsarea{
    /* border: 1px solid red; */
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 0px;
    height: 600px;
}
@media (max-width: 767px){
    div.newsarea{
        width: 100%;
        padding: 5px 0px;
    }
}

h2.pagetitle{
    font-size: 24px;
    margin-left: 20px;
    /* text-decoration: underline #FFA6A6;  */
    font-weight: blod;
    margin-bottom: 15px;
}

/* ===三角形符號(左)=== */
h2.pagetitle > span{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid #e05648;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
    margin-right: 5px;
    transform: translateX(10px);
}

div.news_list{
    /* border: 1px solid black; */
    width: 100%;
    
}

div.news_list ul.news_list{
    /* border:1px solid tomato; */
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
    background-color: white;
}

div.news_list ul.news_list > li{
    border-bottom: 2px solid #c6cdbd;
    margin:0px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding-bottom: 10px;
}
@media (max-width: 767px){
    div.news_list ul.news_list > li{
        margin: 0px 0px 10px 0px;
        
    }
}

ul.news_list li > div.news_img{
    /* border: 1px solid peru; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 999px){
    ul.news_list li > div.news_img{
        /* display: none; */
        min-width: 120px;
    }
}
@media (max-width: 767px){
    ul.news_list li > div.news_img{
        min-width: 80px;
    }
}

ul.news_list li div.news_img a >img{
    width: 100%;
}



ul.news_list li > div.news_item{
    /* border: 1px solid blue; */
    padding:0px 5px 0px 10px;
    width: 60%;
}

div.news_item p.newstitle{
    width: fit-content;
    font-size: 0.875rem;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    text-decoration: underline #e05648;
}

div.news_item p.newsdate{
    width: fit-content;
    font-size: 0.5rem;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;

}

div.news_item p.newscontent{
    font-size: 1rem;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 900px){
    div.news_item p.newscontent{
        font-size: 0.875rem;
    }
}

ul.news_list li > div.news_btn_block{
    /* border: 1px solid turquoise; */
    width: 20%;
    position: relative;
}

ul.news_list li div.news_btn_block > button.newsbtn{
    border: 0;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    font-size: 0;
    background-color: #FFA6A6;
    position: absolute;
    bottom: 0;
    right: 5px;
}
/* @media (max-width: 900px){
    ul.news_list li div.news_btn_block > button.newsbtn{
        margin-left: 0;
        top: 5px;
    }
} */

ul.news_list li div.news_btn_block > button.newsbtn:hover{
    background-color: #e05648;
    font-weight: bold;
}



ul.news_list li div.news_btn_block button.newsbtn > a{
    font-family: "Prestige Elite Std Bold";
    font-size: 0.5rem;
    display: inline-block;
    color: white;
    margin: 0 auto;
    width: 45px;
    height: fit-content;
    padding: 3px 0px;
    text-decoration: none;
    
    /* text-decoration: underline; */
}